/datasets/*
!/datasets/data.yaml

/runs/*
!/runs/best_current_ssa_model/
!/runs/gli_final_pretrain/ 
!/runs/trained_gli_checkpoint/ 

/callbacks/*

*.pt
__pycache__/

ultralytics/
best_ssa_model/
pytest.py
yolo11_4ch.yaml

.vscode/
yolo*/
train*/
verifier_dataset
