train_data/ 




train_yolo/datasets
train_yolo/train*/
train_yolo/callbacks/
train_yolo/*.pt

train_unet/preprocessing/2024_brats_ped
train_unet/preprocessing/2025_brats_ped
train_unet/UNet-PyTorch/final_dataset

# new
yolo_cropped/
yolo_weights/
t1c_segmentation/
stacked_segmentation/
archive/
.vscode/
verifier_dataset/

runs/

yolo_cropped*/
gli_stacked_segmentation/
ssa_stacked_segmentation/

gli_yolo_cropped_n/
gli_verifier_dataset_n/
ssa_verifier_dataset_n_fixed/
ssa_yolo_cropped_n_fixed/
